<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Cache-Control" content="no-siteapp" />

    <title>Community</title>
    <meta name="description" content="Focus on cross-platform development using c language">

    
    <meta name="keywords" content="community,forum,open source,tboox" /> 

    <!-- qq oauth -->
    <meta property="qc:admins" content="5211601217706727767255" />

    <!--icon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="192x192" href="/static/img/nice-highres.png" />
	<link rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon-57x57-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/apple-touch-icon-72x72-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/apple-touch-icon-114x114-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/apple-touch-icon-144x144-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/static/img/retinahd_icon.png" />
	<meta name="msapplication-TileImage" content="/static/img/retinahd_icon.png" />
	
    <link rel="stylesheet" href=" /css/fontawesome/css/font-awesome.min.css ">
    <link rel="stylesheet" href=" /css/main.css ">
    <link rel="canonical" href="https://tboox.org/community/">
    <link rel="alternate" type="application/rss+xml" title="TBOOX Open Source Project" href="https://tboox.org/feed.xml ">
    <link rel="alternate" hreflang="en" href="https://tboox.org/" />
    <link rel="alternate" hreflang="zh-Hans" href="https://tboox.org/cn/" />




    <script type="text/javascript">
    function isPC(){    
        var userAgentInfo = navigator.userAgent;  
        var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod");    
        var flag = true;    
        for (var v = 0; v < Agents.length; v++) {    
            if (userAgentInfo.indexOf(Agents[v]) > 0) { flag = false; break; }    
        }    
        return flag;    
    }
    </script>

<!-- baidu ads -->



    <!-- baidu ads -->

</head>


  <body>
<header id="top">
    <div class="wrapper">
        <a href="{{ site.baseurl }}/" class="brand">{{ site.title }}</a>
        <small>{{site.brief-intro}}</small>
        <button id="headerMenu" class="menu"><i class="fa fa-bars"></i></button>
        <nav id="headerNav">
            <ul>
                <li>
                    {% if page.url == '/' %}
                    <a class="active" href="{{site.baseurl}}/">
                        {% else %}
                    <a href="{{site.baseurl}}/">
                    {% endif %}
                        <i class="fa fa-home"></i>主页
                    </a>
                </li>

                {% for my_page in site.pages %}
                    {% if my_page.type == 'page' %}
                    <li>
                        {% if my_page.url == page.url %}
                        <a class="active" href="{{ my_page.url | prepend: site.baseurl }}">
                            {% else %}
                        <a href="{{ my_page.url | prepend: site.baseurl }}">
                        {% endif %}
                            <i class="fa fa-{{my_page.icon}}"></i>{{ my_page.title }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
<li>
          <a href="https://github.com/sxgpyjg/sxgpyjg.github.io/upload/master/_posts" target="_blank">
            <i class="fa fa-book"></i>
            上传
          </a>
        </li>


<li>
          <a href="https://github.com/sxgpyjg/sxgpyjg.github.io/upload/master/_posts" target="_blank">
            <i class="fa fa-pencil-square"></i>
            上传文件
          </a>
        </li>

      </ul>
    </div>
  </div>
            </ul>
        </nav>
    </div>
</header>
<li>
          <a href="https://github.com/sxgpyjg/sxgpyjg.github.io/new/master/_posts" target="_blank">
            <i class="fa fa-pencil-square"></i>
            创建博客
          </a>
        </li>
      </ul>
    </div>
  </div>
            </ul>
        </nav>
    </div>
</header>
